@import 'navbar.scss';
@import 'skype.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin: 0;
}

#donationTextBox{
  text-decoration: none !important;
  color: white !important,
}
